<div id="tab-values" class="tab-content">
    <div class="card">
        <h2>Значения метаданных</h2>
        <div class="input-group">
            <label>Ключ:</label>
            <select id="keySelectForValue"></select>
        </div>
        <div class="input-group">
            <label>Поиск значений</label>
            <input type="text" id="valueSearchInput" placeholder="Введите часть значения" onkeyup="APP.searchValues(this.value)">
        </div>
        <div class="input-group">
            <label>Новое значение</label>
            <input type="text" id="newValueName" placeholder="Новое значение">
            <button class="btn-success btn-block" onclick="APP.createValueMetadata()">Добавить значение</button>
        </div>
        <div id="valueMetadataList" class="metadata-list"></div>
    </div>
</div>
